  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto:wght@100&display=swap');

*{
    padding: 0%;
    margin: 0;
}

.sidebar{
    background-color: rgb(186, 131, 238);
    font-family: 'Agbalumo';
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebarGo{
    position: absolute;
    transform: translate(-300px, 0px);
}

.sidebar nav{
    margin: 40px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.main{
    width: 90vw;
    margin-left: 50px;
    /* background-color:darkgrey; */
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
}
.hello{
    font-size: 80px;
}
.name{
    font-size: 60px;
    font-weight: bold;
}
.about{
    font-size: 40px;
}

.pic{
    width: 300px;
}
.button{
    padding: 20px;
}

.button button{
    margin-right: 20px;
    padding: 15px;
    color: aliceblue;
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}
.button button:hover{
    background-color:darkcyan;
    padding: 14px;
}

.sidebar nav li a{
    color: black;
    text-decoration: none;
}
.sidebar nav li a:hover{
    color:darkslategray;
}
@media (max-width: 940px) {
    /* *{
        background-color: rgb(206, 105, 105);
    } */
    /* .sidebar{
        position: absolute;
        transform: translate(-300px, 0px);
    } */
    .devPic{
        display: none;
    }
  }

.main .ham img{
    width: 23px;
} 
.ham{
    position: absolute;
    cursor: pointer;
    top: 10px;
    transition: transform 0.3s ease-in;
    left: 10px;
    
} 
.cross{
    margin-left: 120px;
    transition: transform 0.3s ease-in;
}